<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>coffeebank-demo</title>
    <script th:src="@{/comntoon/jquery/jquery-1.11.3.js}"></script>
    <script type="text/javascript" th:src="@{/comntoon/coffeebankdemo/js/tasklist.js}"></script>
</head>
<body>
<h1>task list!!!</h1>
<!-- <input type="text"></input> -->
	<table id="tab" border="1">
		<tr>
			<th>流水号</th>
			<th>任务类型</th>
			<th>客户姓名</th>
			<th>操作</th>
		</tr>
	</table>
</body>
</html>