<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->  
<mapper namespace="com.syswin.comntoon.mapper.CustomCardMapper">  

    <!-- insert user -->
    <insert id = "insert" parameterType="com.syswin.comntoon.model.CustomCard">
        INSERT INTO USER(CARDNUM,CHECKRESULT,BPNAME) VALUES(#{cardnum},#{checkresult},#{bpName});
    </insert>
    
    <!-- update user -->
    <update id="update" parameterType="com.syswin.comntoon.model.CustomCard">
        UPDATE USER SET CHECKRESULT=#{checkresult} , BPNAME=#{bpName} WHERE CARDNUM=#{cardnum}
    </update>
    
    <!-- find user -->
    <select id="find"  resultType="com.syswin.comntoon.model.CustomCard">
        SELECT CARDNUM,CHECKRESULT,BPNAME FROM CUSTOMCARD WHERE CARDNUM=#{cardnum}
    </select>
    
    <!-- delete user -->
    <delete id="delete">
        DELETE FROM CUSTOMCARD WHERE CARDNUM=#{cardnum}
    </delete>
</mapper>